[2017-01-15 17:13] therealcrow999 opened #1 "Problem when I scale in game hud to 80%"
This happens when I use the ingame slider to scale the UI smaller, I use 80%

http://s1262.photobucket.com/user/therealcrow999/media/FarmingSimulator2017Game%201-15-2017%2012-03-29%20PM-702_zps2gyqbgcw.jpg.html

http://s1262.photobucket.com/user/therealcrow999/media/FarmingSimulator2017Game%201-15-2017%2012-03-22%20PM-85_zpsrsnsmzaw.jpg.html

You can tell in the one picture when I turn on the Driv

[2017-01-16 12:29] TyKonKet commented on #1
Hi @therealcrow999 , thanks for your report, I'll start working on this sooner as possible, meanwhile if someone want fix it, is welcome.

[2017-02-25 12:09] TyKonKet commented on #1
This problem have been definitively fixed with 37781bd1c5e570b9f26b03f964ead8888de2489e.

[2017-02-25 12:09] #1 closed

[2017-03-13 10:24] TyKonKet opened #5 "Translation works"
Hi @Gonimy-Vetrom, @naej56 and @FarmingVidsHD.
I'm going to release V3.5.0 of Fuel Usage and then I've added changelogs to modDesc.
If and when you'll have time, can you please take a final look at translations and translate changelogs in your language?

[2017-03-13 13:50] naej56 commented on #5
Hi guys, translate for changelogs in french done.
Have a nice day.

[2017-03-13 18:04] Gonimy-Vetrom commented on #5
Need translation  betterFuelUsage.lua line 81
self.lhText = DynamicText:new({size = 0.0112, text = **" l/h"**, color = {r = 0.0865, g = 0.0865, b = 0.0865, a = 1}});

[2017-03-14 10:06] TyKonKet commented on #5
You are right.

[2017-03-14 12:56] naej56 commented on #5
No need to modify translate for french, it's already the right one.

[2017-03-14 16:26] FarmingVidsHD commented on #5
Hello Guys. Translation for changelogs and another things in Dutch done.

Have a good day.

[2017-03-15 09:14] TyKonKet commented on #5
Thank you all guys!

[2017-03-15 09:14] #5 closed

[2017-03-25 11:20] mieperDE opened #12 "Fuel consumption stuck on 0.0ltr"
After the V3.5.0 Update the fuel consumption stuck to 0.0 liters on the Terra Dos T4-40.

-I have the Gearbox-mod installed.

![20170325121730_1](https://cloud.githubusercontent.com/assets/6373374/24321783/51299dc0-1155-11e7-9208-21929d463bc5.jpg)

[2017-03-25 13:21] TyKonKet commented on #12
Thanks for your report, I'll check as soon as possible.

[2017-03-25 15:05] TyKonKet commented on #12
This bug is not caused by the gearbox, it exists even without the gearbox mod, I'm still investigating to understand from what is caused.

[2017-03-26 16:58] TyKonKet opened #13 "Possible bug with gearbox"
Some players have noticed a possible bug with the gearbox mod that cause the instantaneous emptying of the tank

[2017-03-26 17:23] ghost commented on #13
I can confirm that.

The HUD shows "inf l/h".
Then the tank is empty.

Two times happened.

[2017-03-26 18:06] mieperDE opened #15 "idle calculation?"
The fuel consumption is much higher with parking brake.

Parking brake , 0 km/h, **1000 RPM, "10% load"** = 6.1 l/h
Just standing , 0 km/h, **850 RPM, 0% load** = 1.8 l/h

I guess this is a big difference for nothing.

*Using the Gearbox mod
![20170326195455_1](https://cloud.githubusercontent.com/assets/6373374/24333758/528c921c-125e-11e7-8b81-6685b520e26f.jpg)
![20170326195507_1](https://cloud.gi

[2017-03-26 18:57] TyKonKet commented on #15
You are even right, but rpm and motor load are calculated from the gearbox not from the fuel usage, the bug isn't of the fuel usage.
Any suggestions?

[2017-03-26 20:44] TyKonKet commented on #12
Found and fixed.

[2017-03-26 21:19] #12 closed

[2017-03-26 21:38] ghost commented on #15
Maybe there is a way with an Workaround.

Let's examine the situation.

- Idle RPM in parking brake is fixed but can be lower when releasing the brake
- The clutch is fully opened. 0% or 0,00.
- The Vehicle speed is zero. Maybe some trembling around zero?
- The load is 0% or 10%. Then push it down and care about negative numbers.

Something like this?

[code]

What do you think?

[2017-03-26 21:49] ghost commented on #13
I guess it happened when I hired AI-Worker.

[2017-03-27 09:36] TyKonKet commented on #15
Seems to be a possible solution, I'll work on it today.

[2017-03-27 09:39] TyKonKet commented on #13
Ok, maybe it happens in different situations, because a player said me it happened while the motor load was high.

[2017-03-27 14:54] ghost commented on #13
Well the AI-Worker runs with around 100% load.

[2017-03-27 14:56] ghost commented on #15
I'm curious :)

[2017-03-27 15:04] TyKonKet commented on #13
I'm trying to reproduce this issue but after 30 min still not reproduced...

[2017-03-27 15:08] ghost commented on #13
Yeah it happened to me 2 times in around 20h playtime.
Is it possible to receive corrupt numbers from the game? There is a reason to calculate infinite. There must be an error somewhere.

[2017-03-27 15:12] TyKonKet commented on #13
Maybe first of subtract the calculated number I can check if it is infinite, this should fix the problem no?

[2017-03-27 15:25] ghost commented on #13
How sensitive is it to negative numbers?
Or set the incoming numbers into a min/max regulation. So the values couldn't leave their normal environment.

[2017-03-27 15:30] TyKonKet commented on #13
Ok, I think with a min/max control I should fix the problem
[code]

[2017-03-27 15:34] #13 closed

[2017-03-27 15:37] ghost commented on #13
If it occurs with the fix again, I'll report it to you

[2017-03-27 15:39] TyKonKet commented on #13
Thank you so much, anyway I'll test it in the next days.

[2017-03-27 15:42] TyKonKet commented on #15
I found a possible bug with this workaround, if you turn on a pto implement while you are standing, his motor load will be eliminated.

[2017-03-28 16:53] mieperDE opened #16 "Wobbling calculations"
I just tapped the key "W"

https://youtu.be/rRaf_o2bIS0

After a few seconds the fuel calculation has normalized.

actual version:

https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/6a1bc8db1ccade6d99189567d0a4c917b0e2a677

[2017-03-28 16:59] ghost commented on #16
Strange
I could not reproduce this

[2017-03-28 17:08] ghost commented on #16
Now I could reproduce this multiple times.

[2017-03-28 17:10] TyKonKet commented on #16
This bug happens only with terra variant?

[2017-03-28 17:21] ghost commented on #16
Yes. But i have an idea.
I've installed the Ground Response Mod
https://www.farming-simulator.com/mod.php?lang=de&country=de&mod_id=52696&title=fs2017

As you can see, my Holmer is full with Wheat. So the vehicle weighs several tons.
The ground can cause this heavy wobbling load.

Edit:
Maybe the indication is too sensitive to frequent load changes.
A cool thing could be an additional indicator fo

[2017-03-29 09:16] TyKonKet commented on #16
I can't reproduce this bug even with gearbox and ground response, are you sure this is not an issue of your version of gearbox?

[2017-03-29 09:17] #15 closed

[2017-03-29 15:00] ghost commented on #16
I'll try it

[2017-03-29 15:13] ghost commented on #16
Ok with Gearbox 2.0.4.4 I couldn't reproduce it either.
Then forget it. There is no bug to take care of.  😋

Edit:
But an average fuel consumption indicator would still be an enrichment

[2017-03-29 15:27] TyKonKet commented on #16
I know, but I have no Idea where to locate it 😃

[2017-03-29 16:23] ghost commented on #16
example code incoming

✈️

[code]

[2017-03-29 16:34] TyKonKet commented on #16
Yes, but where should I place the text on the hud?

[2017-03-29 17:54] ghost commented on #16
Take a look on this:
https://www.farming-simulator.com/mod.php?lang=de&country=de&mod_id=70368&title=fs2017

or this old mod:
https://www.modhoster.com/mods/kraftstoff-verbrauchsanpassung-fueladjust#images

[2017-03-29 18:26] mieperDE opened #17 "3 different fuel consumption values"
😲

![20170329201629_1](https://cloud.githubusercontent.com/assets/6373374/24470007/b7395716-14bd-11e7-988f-764494d3d6f3.jpg)

used version:
https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/d8ca40cfd6a81d64065c2d7c959394962b4b4e75

[2017-03-29 18:46] TyKonKet commented on #17
Don't look at the top left values, they are values used by me for debugging purposes.
About gearbox values, I'm still working on it.

[2017-03-30 09:10] #17 closed

[2017-03-30 15:26] mieperDE opened #18 "Major Bug with combine"
Hey,
with https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/e15aa8b387966677d5664bd68171c2d044bd2cdc it screws up my game.
Driving a combine is now impossible. The camera stuck and no keypress is detected.
The only thing i can do is to move the pipe thing with the mouse.

[2017-03-30 15:29] ghost commented on #18
Forget it. Redownload fixed it. 💃

[2017-03-30 15:50] #18 closed

[2017-03-30 16:43] ghost commented on #17
![20170330183915_1](https://cloud.githubusercontent.com/assets/6373374/24515717/bafd06ac-1578-11e7-904d-f3f9239044d9.png)

[2017-03-31 15:40] mieperDE opened #19 "combine harvester - cutter uses too much power"
The combine harvesters are very weak on the mountain. Is this really so extreme in reality?
Some harvesters are only by the cutting mechanism (without driving) already on 100% load.
600PS can't get faster than 5 km/h on a small slope. The average speed is ~3km/h.

There is no difference between a 200ps and a 600ps combine harvester.

[2017-03-31 15:50] TyKonKet commented on #19
Don't worry, I'm still working on balancing of various values.

[2017-03-31 17:47] mieperDE opened #20 "Vehicles are more economical with more RPM"
- 2100 RPM - 90% load - **69l/h**
- 1650 RPM - 100% load - **74l/h**

If I am not mistaken, engines with more RPM will also consumes more fuel.
Not the other way around.

![20170331194038_1](https://cloud.githubusercontent.com/assets/6373374/24562183/343a7b36-164a-11e7-9ff7-3c3435e88b04.jpg)
![20170331194026_1](https://cloud.githubusercontent.com/assets/6373374/24562182/34393cd0-164a-11e7-8e9d-4c0

[2017-03-31 18:05] ghost commented on #20
- 690 RPM - 0% load - **3,6 l/h**
- 1790 RPM - 0% load - **3,6 l/h**

![20170331200403_1](https://cloud.githubusercontent.com/assets/6373374/24563004/3a63613c-164d-11e7-891c-42573a932f80.jpg)
![20170331200409_1](https://cloud.githubusercontent.com/assets/6373374/24563005/3a815e26-164d-11e7-8d32-b0a76dcf01d6.jpg)

[2017-03-31 18:42] TyKonKet commented on #20
Ask to gearbox creator how is possible that an engine runs at 1790 RPM without load 😃

[2017-03-31 20:08] mieperDE opened #21 "bale collector causes no load"
https://www.youtube.com/watch?v=WFQB8mw5Wfg&feature=youtu.be

[2017-03-31 20:12] ghost commented on #20
It's a feature 🐛
Hand Throttle ;)
https://github.com/Mogli12/GearboxAddon/blob/master/Documentation/Description.pdf

[2017-03-31 20:52] ghost commented on #21
The other bale thing has the same issue

![20170331225207_1](https://cloud.githubusercontent.com/assets/6373374/24569063/c2e09cca-1664-11e7-9b18-81fc485114a0.jpg)

[2017-03-31 21:05] TyKonKet commented on #21
Ok thanks, I'll work on this in the next few days.

[2017-04-01 16:13] ghost commented on #21
Same issue with Selfline compact 1612

[2017-04-01 17:28] mieperDE opened #22 "tools - load does not return to 0%"
It happens with every tool.
Not always. But often.

![20170401192408_1](https://cloud.githubusercontent.com/assets/6373374/24580888/da385848-1710-11e7-9b73-f4ca9ed87a32.jpg)
![20170401192648_1](https://cloud.githubusercontent.com/assets/6373374/24580905/2b3c20d0-1711-11e7-85af-a83137ebb800.jpg)
![20170401192726_1](https://cloud.githubusercontent.com/assets/6373374/24580907/410fef0e-1711-11e7-9f96-

[2017-04-01 17:36] ghost commented on #21
Trailer special function
https://youtu.be/IRKCzms4Oxg

[2017-04-02 13:15] TyKonKet commented on #19
After lots of tests on this, I conclude that this is a bug caused by Gearbox and not from Better Fuel Usage, I tried to remove the Gearbox and the problem have been solved, instead if I deactivate the Better Fuel Usage and leave the Gearbox, the bugs remains.

[2017-04-02 13:15] #19 closed

[2017-04-03 10:36] TyKonKet commented on #21
11d63d969d77ee5fe5a8c623dfd1dfb9192178af
ea2cfcf49529dd1101132b89d5de7fc97be8fcb3

[2017-04-03 10:37] TyKonKet commented on #22
This bug should now be fixed.

[2017-04-03 10:37] #22 closed

[2017-04-03 13:45] #20 closed

[2017-04-03 16:40] ghost commented on #21
Siloking Compact 1612
same issue :p

[2017-04-03 22:44] TyKonKet commented on #21
I forgot of it, vehicle and implement types are lots, sorry if I forgot some of them and thanks for your help.

[2017-04-04 11:30] #21 closed

[2017-04-05 18:59] mieperDE opened #23 "JCB 435S has no hydraulics calculation"
JCB 435S has no hydraulics calculation

[2017-04-05 20:52] TyKonKet commented on #23
Are you sure? It works for me.

[2017-04-06 16:15] ghost commented on #23
oh.. shame on me
My mod was some commits older. It works with rc1 https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/eb02359901117fa3125648a871566defa9f75264 now.

In future I do not report bugs this quick.

[2017-04-06 17:17] TyKonKet commented on #23
Don't worry 😄

[2017-04-06 17:17] #23 closed

[2017-04-06 19:23] mieperDE opened #24 "Why is the consumption calculated only by the RPM?"
https://github.com/TyKonKet/FS17_FuelUsageDisplay/blob/master/src/specializations/betterFuelUsage.lua#L158

[2017-04-06 19:36] TyKonKet commented on #24
Because in real life the consumption depends from hom many fuel is injected into the motor and the amount of fuel injected in the motor depends from the speed of the motor (aka RPM).
The gearbox emulates a real behaviour of rpm so if the gearbox is active I use RPM to calculate the fuel consumption.
This also prevents (and in most cases is the only solution) problems like #20 #19 #13 #15 #17

[2017-04-06 19:48] ghost commented on #24
New stuff to discuss incoming
😁

Edit:
There is a problem. Full Throttle in a fully opened clutch cause 100% fuel consumption.

[2017-04-06 20:09] MasterGee commented on #24
Hi there,

the best way i.m.h.o is a table about all vehicles with the specific fuel consumption. For example the Fendt 939 Vario S4 has by 100% Rated Speed and 80% Load a specific fuel consumption from 248g/kwh.

Formula:
(CONSUMPTION * (Density of the fuel in g/cm³)) * 1000 / (KW of the VEHICLE)  = SPECIFIC-FUEL-CONSUMPTION

(CONSUMPTION * 0,85g/cm³) * 1000 / 287KW = 248g/KWh
= 83,74liter

-----

[2017-04-06 20:12] ghost commented on #24
If you need help collecting data, tell me.

http://www.dlg-test.de/tests/Fendt-939-Vario-S4_de_neu.pdf

[2017-04-06 23:10] TyKonKet commented on #24
Currently the maximum fuel consumption is 250g/KWh with an extra 0%-25% based on motor running hours, so it's not too much wrong.
We should also consider that in FS the entire economy is boosted then if we want to balance a bit fuel costs we must at least double it.
What do you think guys?

[2017-04-06 23:15] TyKonKet commented on #24
About the gearbox I was thinking about something like this:
RPM (0-1) + Load (0-1) / 2
Maybe this is the best solution, but only if the gearbox is active because by default the motor RPM are totally wrong and I can't use them for calculations.

[2017-04-07 13:57] ghost commented on #24
?

edit:

No screw this. Yours is better
😉

Whats with https://github.com/TyKonKet/GearboxAddon ?

[2017-04-07 16:05] mieperDE opened #25 "Bug with Foldable.lua"
Game Log
Bug freeze the game

[2017-04-07 17:39] TyKonKet commented on #25
Happened with what implement?

[2017-04-07 17:41] TyKonKet commented on #24
It's a fork of Gearbox

[2017-04-07 17:58] ghost commented on #25
Modded Liquid manure

[2017-04-07 18:00] ghost commented on #24
Yeah.. but why

[2017-04-07 18:15] TyKonKet commented on #24
Translations 😄

[2017-04-07 19:28] #25 closed

[2017-04-09 22:30] mieperDE opened #26 "Different consumption with different vehicles but same tools"
[code]

The consumption should be similar.
Rather less if the engine is stronger. And thus more efficient.

_The same happens with other tools._

Edit:
PTO shaft work

[2017-04-09 22:45] ghost commented on #24
Ok after a few hours of gameplay:

This solution is good.
#https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/1522a3c38cf91d861b300fef3789aa6c566520e1

[2017-04-09 22:56] TyKonKet commented on #26
This is not totally right, because every tool require a specific pto speed, and the motor speed needed to reach this specific pto speed is almost the same on all tractors.
So the fuel needed depends for the most from the vehicle maximum consumption.

[2017-04-09 22:57] #24 closed

[2017-04-09 23:09] ghost commented on #26
But don't you think the difference is too high? Yes the Engines have different power. Yes the pto RPM is the same.
Nevertheless, the engine is subject to the same load with different capacities. So they should have a similar consumption.

If you mean that is correct then every strong tractor is uneconomical.

An example:

We have a load which needs 100kW.

We have a motor with 300kW power.
And we

[2017-04-10 06:44] ghost commented on #26
Take a look a the jenzHEM583.xml

[code]

neededPtoPower="180"

[2017-04-10 08:18] TyKonKet commented on #26
Is the same of the idle consumption, why they are different even if the load is 0% for all vehicles?
As I already said, the fuel consumption depends for the most from the RPM, I don't know if you have an idea of how the engine is made and works, but I suggest to take a look at the injection phase of engines.
I know the needed pto power is the same because of the implement is the same, but it is th

[2017-04-10 08:25] TyKonKet commented on #26
However, we are still talking, but we might as well stop because even if you're right I could still do anything since the load and engine speed calculations are made by GIANTS Engine so I can not change them.

[2017-04-10 09:29] fcelsa commented on #26
Always we talk about game with some compromises and limitations, on other hand it's true! a great power tractor not are the best solution in any case, the variable it's still the work that one needs to do, and find all correct compromises in the dimension and engine power, so the actual Fuel calculation can be considered correct IMHO; I never move the jenz with quadtrac, it is clear that it would

[2017-04-10 11:17] TyKonKet commented on #26
@mieperDE , you should also consider that you are playing and testing all with the gearbox active, that influences very much all motor calculations, if you try the same without the gearbox, you will see that consumption differences are not that much big.

[code]
Do you like this much more, you must choose if use or not the Gearbox.

[2017-04-10 11:21] TyKonKet opened #27 "Changelogs translations needed"
Hi @mieperDE, @naej56, @Gonimy-Vetrom, @Dzi4d3k , @FarmingVidsHD.
The new version of Better Fuel Usage ( V3.6.1) is almost ready, I would be glad if you could translate the changelogs.

[2017-04-10 11:42] ghost commented on #27
done :relieved:

[2017-04-10 11:45] ghost commented on #16
This issue could be closed no?
I mean, it's already fixed
:sunglasses:

[2017-04-10 11:49] ghost commented on #26
This looks much better.
Then I will talk with mogli.
:smile:

[2017-04-10 12:11] #16 closed

[2017-04-12 09:39] #26 closed

[2017-04-19 12:06] Brandox1992 opened #31 "Issue with Köckerling Allrounder"
Hello :)
first of all nice mod i like to use this mod for the realness.
now the problem.
since the update which i installed today i wanted to cultivate with the "Köckerling Allrounder" and had to find out that the machine bounces in the air when you put them in the ground and you drive.
would be nice if you fix that :)

best regards.
Marcel aka Brandox

[2017-04-19 12:11] TyKonKet commented on #31
Hi, @Brandox1992 I found the same issue some time ago, but I tried remove the Better Fuel Usage and the problem haven't been solved, so I thought the problem wasn't caused by this mod.

[2017-04-19 12:14] Brandox1992 commented on #31
before the update and with the old version the problem wasn't there, so it has something to do with the new update i think.
i tried the other cultivators but the köckerling is the only one with that problem @TyKonKet

[2017-04-19 13:41] TyKonKet commented on #31
Ok, I'll investigate on that

[2017-04-19 17:26] Brandox1992 commented on #31
Okay nice @TyKonKet

[2017-04-28 10:03] Fendtfan84 opened #32 "Issue with NewHolland FR850"
Bye this Forage harvesters This message appears in the log bye Maize choping.
This error message came when the CombineAddon Mod with FuelUsageDisplay in the mod folder is
Error: Running LUA method 'update'.
dataS/scripts/vehicles/specializations/Foldable.lua(716) : attempt to compare nil with number
I Have the Mod new installed and the error message is path.
The issue can closed

[2017-05-02 12:03] MichaelSGallagher commented on #32
Ya there seems to be some issues around Foldable.lua and Foldable mods within FS17. For example in my error log:

`C:/Users/thewi/Documents/My Games/FarmingSimulator2017/mods/Horsch_Pronto15m/pronto18DC.i3d (433.17) ms
Error: Running LUA method 'loadSharedI3DFileFinished'.
C:/Users/thewi/Documents/My Games/FarmingSimulator2017/mods/FS17_FuelUsageDisplay/extensions/Foldable.lua:11: attempt to index

[2017-05-02 14:19] TyKonKet commented on #32
Hi guys, sorry for the late response, I received other reports about similar issues with Foldable.lua, I will fix that in the next version but I haven't any idea when I'll find time for work on it, currently I'm hard working on the mod for the Fs17 Mod Contest.
@MichaelSGallagher your workaround is a good temporary solution while waiting for the next version.

[2017-05-02 16:01] #31 closed

[2017-05-02 16:47] TyKonKet commented on #32
Ok, test done with **Horsch_Pronto15m/pronto18DC**, now it works!

[2017-05-02 16:47] #32 closed

[2017-05-02 16:51] FarmingVidsHD commented on #27
Dutch is Done

[2017-05-02 17:06] #27 closed

[2017-06-15 11:30] ometinsu opened #34 "rippers behind the tractor bounce over the field with FuelusageDisplay 3.6.2"
When i use the YMPA SJ Series V.1.2.2.0 mod, the ripper bounces over the field, and when i go back to the 3.6.1 version of the FuelusageDisplay one of my savegames won't load anymore and other don't work at all.
Is this a problem in de FuelusageDisplay 3.6.2 or is something else to blame?

[2017-06-15 19:46] TyKonKet commented on #34
I can't say nothing about old versions without reading the log, but i can fix the problem with your tool in the next version if you send me the download link.

[2017-06-16 13:26] ometinsu commented on #34
Thank your for the fast reponse.
FuelusageDisplay 3.5.0 does work with YMPA SJ Series V.1.2.2.0 mod, without bouncing all over the field.
I have also the John Deere 915 ripper with the same problem with FuelusageDisplay 3.6.2, but with the FuelusageDisplay 3.5.0 it is fine.
So between the 3.5.0 en the 3.6.x something changed that caused the issue.

The links to the mods are:
https://www.modland.ne

[2017-06-23 20:46] Dwinesk opened #35 ""MR" & "GearboxAddon" Compatibility"
Hi TykonKet. I want to start by thanking you for all your hard work and the marvelous creations that you and your collaborators have given to the farm sim community. On to the FuelUsageDisplay, I really enjoyed using this mod but unfortunately I have had to give up on using it as it isn't compatible with the 'MR'(morerealistic) mod. As I (and I'm sure I'm not alone when I say this) want to inject

[2017-07-03 06:33] TyKonKet commented on #35
Hi, I'm finally back home and ready for working on my mods.
Can you please explain more detail what kind of problems have the fuel usage with MR?

[2017-07-03 09:18] Dzi4d3k commented on #35
@TyKonKet
I think that this is the case post:
https://www.fs-uk.com/forum/index.php?topic=195661.msg1273342#msg1273342
Maybe the solution is to auto-deactivate your mod on MR-converted vehicles and activate only on non-MR?

[2017-07-03 10:02] TyKonKet commented on #35
Nono, i want fix it in the right way, any suggestions on how to reproduce the issues?

[2017-07-03 10:10] #34 closed

[2017-07-03 18:10] fcucino commented on #35
Just the time to find some topic where users explain the problem and I will send you
https://www.fs-uk.com/forum/index.php?topic=195659.msg1273124#msg1273124

[2017-07-03 18:43] fcucino commented on #35
https://www.fs-uk.com/forum/index.php?topic=195659.msg1274070#msg1274070
https://www.fs-uk.com/forum/index.php?topic=195659.msg1274075#msg1274075

[2017-07-03 19:41] TyKonKet commented on #35
dove posso trovare un trattore che abbia questo genere di problemi?

[2017-07-03 19:48] fcucino commented on #35
I trattori originali "sovrascritti" dalla mod che trovi in moreRealistic.zip\data\vehiclesOverriding\_database.xml
Il download lo trovi qui: https://www.fs-uk.com/forum/index.php?topic=195659.msg1273121#msg1273121
P.S.: Non ho mai testato personalmente mr + better fuel usage e ti riporto quello che segnalano altri

[2017-07-03 20:32] TyKonKet commented on #35
Il download lo trovi qui: https://www.fs-uk.com/forum/index.php?topic=195659.msg1273121#msg1273121
P.S.: Non ho mai testato personalmente mr + better fuel usage e ti riporto quello che segnalano altri

Ok proverò meglio, ma da quello che ho visto con un test veloce, sembra che con l'ultima versione di mr non ci siano grossi problemi.

[2017-07-04 04:04] Dwinesk commented on #35
I had stopped using it on a previous version of 'mr' which froze the controls when used together. The current version does work but because your mod overwrites some of the same vales as 'mr' yours are used instead of 'mr'. A good example is the JYMPA ripper/plough mod (can be found on the GIANTS mod hub) the 5.7m variant cannot be used with better fuel as it causes the implement to skip along the

[2017-07-04 07:34] TyKonKet commented on #35
I'm going to disable conflicting features when a vehicle is mr, in this way we will get the best of both mods.

[2017-07-04 07:43] Dzi4d3k commented on #35
I think it is good compromise, but will we still have the visual effects of fuel usage in MR vehicles?

[2017-07-04 07:59] Dwinesk commented on #35
I agree to that. I'm sure people on here will test the changes and advise accordingly... Question though, some features of 'mr' were applied to vehicles even if they were not specifically an 'mr' vehicle. How do you plan to deal with that? Could it be set up such that if 'mr' is present your mod prioritizes using those conflicting vales provided by 'mr' rather than it's own..? Or am I thinking too

[2017-07-04 08:14] TyKonKet commented on #35
Sure!

[2017-07-04 08:17] TyKonKet commented on #35
I can easily know if mr is "installed" and if a vehicle is full or partial mr, so i can change behaviour of bfu based on that.

[2017-07-04 09:20] TyKonKet commented on #35
Guys, if you want to try this version and let me know, i would be glad 😄

[2017-07-04 10:44] Dwinesk commented on #35
Initial tests show that the display you have on the inside of the speedometer is deactivated on all  default in-game vehicles... I'm guessing cause they all count as 'mr' vehicles. Is there a way to still have it functioning? Now back to more testing.

[2017-07-04 12:27] TyKonKet commented on #35
Please send some screenshots because with mr vehicles i don't find any problems.

[2017-07-04 12:58] Dwinesk commented on #35
@TyKonKet
![20170704154046_1](https://user-images.githubusercontent.com/29665879/27830683-3565dbec-60d0-11e7-93f0-da1dae677a59.jpg)
![20170704154200_1](https://user-images.githubusercontent.com/29665879/27830703-49328b84-60d0-11e7-9f22-a2ef790bb643.jpg)

First pic is of the Big Bud 450 from the DLC. (I'm sure this is not an 'mr' vehicle cause of GIANTS "hidding" the code so people have to buy it o

[2017-07-04 13:32] fcucino commented on #35
Sorry @Dwinesk , but I wrote in Italian so I can speak easily with Tykon.
@TyKonKet , con un veicolo mr c'è il comando "debugf" o "debug" (non ricordo se sia stato cambiato dal primo al secondo) e dovrebbe esserci fra tutte le informazioni anche il consumo attuale. Potresti chiedere a Dural se è possibile chiamare la sua funzione di calcolo consumi e visualizzarla nell'hud anziché lasciare giustam

[2017-07-04 13:39] TyKonKet commented on #35
@turbostar190 il consumo me lo calcolo già semplicemente facendo via via la differenza di carburante presente, infatti ora con i veicoli mr funziona, da quello che ho capito sembra che non funzionino più tutti gli altri veicoli.

[2017-07-04 14:13] fcucino commented on #35
Appena torno a casa proverò anche io, ma penso che Dwinesk intenda che sui veicoli mr non si veda più il contatore animato interno al contatore Giants della velocità

[2017-07-04 16:51] Dwinesk commented on #35
I have also noticed that the exhaust effects that your mod gives to vehicles seems to be affected by the issue I pointed out above. On in-game vehicles instead of transparent-white-black smoke your mod used to give (depending on the engine load) now there is a constant black/transparent smoke "cone/box". Not pleasant at all. Mod vehicles still get the great effects.

[2017-07-04 17:39] Dwinesk commented on #35
![20170704202302_1](https://user-images.githubusercontent.com/29665879/27839098-7236fd90-60f7-11e7-8155-55b9973d0a29.jpg)
![20170704202336_1](https://user-images.githubusercontent.com/29665879/27839106-8148ea6e-60f7-11e7-976e-3142bb63dc6a.jpg)

In these pictures you can see the exhaust effect on in-game vehicles with 'bfu' enabled. Also, please take note of the fuel consumption figures. 1st pic, c

[2017-07-04 18:06] Dzi4d3k commented on #35
This is also the case when you are braking with engine. Every car computer will show you that, I can't imagine why tractors should be different.

[2017-07-04 19:27] fcucino commented on #35
@TyKonKet Io ho provato **mr + bfu** e funziona, ma non sempre. Con gli operai inseriti o in decelerazione il valore segnato dalla **bfu** diventa 0, mentre rimane sempre giusto quello reale visibile con il comando console "debug" della **mr**. Con i veicoli **non mr** non ci sono problemi

[2017-07-04 20:29] fcucino commented on #35
E dimenticavo di menzionare il brusco cambio di consumi visualizzati, anche sullo stesso tipo di terreno, dovuti a minimi cambi di rpm ma attribuibili in principio alla mr, perché anche nella modalità "debug" sono presenti

[2017-07-05 06:30] TyKonKet commented on #35
Io al momento ho fatto come mi avete chiesto voi, ovvero se un veicolo è MR, disattivo la mia funzione di consumo e lascio quella MR, limitandomi solo mostrare il consumo (quello che viene mostrato nella schermata debug). Quindi se quando lasci l'acceleratore il consumo va a 0 o se ci sono bruschi cambi di consumo attualmente non dipende più da me ma dalla MR e di conseguenza dovete parlare con Du

[2017-07-05 06:31] TyKonKet commented on #35
About gearbox, I still need to investigate what happens.

[2017-07-06 08:35] TyKonKet commented on #35
@Dwinesk I don't understand how you can encounter this kind of problems since MR + GearBox doesn't work together.

[2017-07-06 09:06] Dzi4d3k commented on #35
@TyKonKet
They do, all you have to do is to use latest GearBox version from GitHub:
https://github.com/Mogli12/GearboxAddon/blob/master/FS17_GearboxAddon.zip

[2017-07-06 12:07] Dzi4d3k commented on #35
@TyKonKet
Things are changing very fast:
https://www.fs-uk.com/forum/index.php?topic=195659.msg1282928#msg1282928

[2017-07-06 16:43] Dwinesk commented on #35
@TyKonKet 'mr' & gearox addon do work together. Get the latest gearbox addon here on github. It is updated very regularly.

[2017-07-06 17:26] TyKonKet commented on #35
Fixed with b1f8dda

[2017-07-06 17:26] #35 closed

[2017-07-06 20:41] fcucino commented on #35
Dopo l'ultimo update, non sapendo se sia intenzionale o no, mentre l'operaio è inserito viene visualizzato il consumo medio nell'hud e non quello reale (entrambi calcolati dalla mr). Inoltre prossimamente ti farò sapere se è effettivamente un bug un comportamento strano che ho notato in alcune situazioni.

[2017-07-06 21:06] TyKonKet commented on #35
@turbostar190 la questione è la seguente:
Se hai impostato a l'operaio di comprare il carburante, la funzione di consumo carburante, invece di sottrarre il carburante ti fa spendere i soldi corrispondenti e di conseguenza non c'è modo di sapere quanto carburante sta venendo consumato quando la funzione di consumo carburante è definita da more realistic o gearbox.
L'unica cosa che ho potuto fare è

[2017-07-07 06:22] Dzi4d3k commented on #35
@TyKonKet
Have you tried to ask dural at FSUK
https://www.fs-uk.com/forum/index.php?topic=195659.0
I saw that dural changed many things on users requests

or Mogli12 here:
https://github.com/Mogli12/GearboxAddon/issues

I think is it worth trying to ask both of them, as your mod adds great values to overall game experience.

[2017-07-07 06:38] TyKonKet opened #36 "Fuel consumption with Helper and "Buy Fuel" option"
Hi @Mogli12, when your mod is active and the Motorized:updateFuelUsage is yours, if the helper is hired and it is setted for buying fuel instead of consume it, I can't display the instant fuel usage.
Can you please set this value on a variable even when the helper is hired?

[2017-07-07 11:49] Dzi4d3k commented on #36
Just to make information consistent for others, here is answer from Mogli12:

https://www.fs-uk.com/forum/index.php?topic=195659.msg1283074#msg1283074

[2017-07-07 15:49] TyKonKet commented on #35
This is the answer of Mogli:
https://www.fs-uk.com/forum/index.php?topic=195659.msg1283083#msg1283083

I can't do nothing if they don't want do nothing.

[2017-07-07 17:44] Dwinesk commented on #35
@TyKonKet Well no matter what is going on with those other modders I'd like to say nice work on your part. You have done what you can on your end and it is marvelous. Hopefully one day all the egos involved can quiet down to perfect it. Optimistically looking forward to that if it does come to pass.

[2017-07-07 21:03] TyKonKet commented on #36
From Mogli12:
GearboxAddon 2.1.3.8 hides the display of fuel usage if the motor is off or the hired worker is on and buys fuel. I do not want to send additional data via read-/writeUpdateStream just to solve this problem. I think read-/writeUpdateStream should not be used too intense.

[2017-07-07 21:03] #36 closed

[2017-10-21 10:35] Gonimy-Vetrom opened #38 "Fuel Usage x2"
Hey. Please look at this issues https://github.com/Mogli12/GearboxAddon/issues/249.

[2017-10-21 11:16] Mogli12 commented on #38
Hi,
With a recent version of GearboxAddon you can use the following function to read the fuel rate:
[code]

[2017-10-21 19:33] TyKonKet commented on #38
Hi, thank you for the hint, I'll fix it as soon as possible.
Currently i'm working on the DLC so I haven't much time but i'll try to roll up a new version fast.

[2017-11-12 10:32] Dwinesk commented on #38
Hi,
Are you still planning on making this fix? I hope so. Thanks for the mod and all your good work.

[2017-11-12 15:32] TyKonKet commented on #38
Yes, but to be honest at the moment I'm working on the Grimme DLC and we must end it in the planned times, so i have not enough time to work on it, maybe in the next months the new update will be ready.

[2017-11-15 08:34] MPosp opened #39 "Deceleration of machines"
Hello, I'm testing your mod and I'm mostly happy, it works nicely, but in two cases there was a problem, surprisingly the same. Two machines from ModHub, Claas Dominator 118SL and Mengele Garant 540/2 will slow to 1km / h if they activate one of the machine functions. In the case of a harvester, it is the launching of the cutter bar (B) or the throwing pipe (O), in the second case it is spillage o

[2017-11-15 11:27] TyKonKet commented on #39
Hi @MPosp , thanks for the report, this kind of issue happens because not all mods are configured in the same way, for this reason i've made this mod in a way that i can change it's behavior based on the single vehicle or implement.
For example, i can customize the behavior of BFU only for Claas Dominator 118SL.
So yes, i can solve those issues relatively easily, the "hardest" part is to understan

[2017-11-15 14:17] MPosp commented on #39
Well, what did I describe as an incentive for a subsequent repair? I just looked at your mod and found a system of easy repairs, as you describe.
So if I run into another problem, can I just describe it as the previous two?

[2017-11-15 21:17] TyKonKet commented on #39
Yes sure!

[2017-11-16 18:45] #38 closed

[2017-11-17 02:17] Dwinesk commented on #38
Thank you.

[2017-11-17 06:25] Mogli12 commented on #38
Can we please keep this issue opened? In my opinion closing such issue means that the problem is fixed and not that there is no time to fix it.

[2017-11-17 08:40] Dzi4d3k commented on #38
@Mogli12 but https://github.com/TyKonKet/FS17_FuelUsageDisplay/commit/a7622d170df4af49d15280dc183c192a358d260c didn't fixed this issue?

[2017-11-17 09:13] TyKonKet commented on #38
@Dzi4d3k yes it does.
Any way I haven't closed it, it have been closed automatically when i referenced it in the commit 😄

[2017-11-17 11:54] Mogli12 commented on #38
Ok, I did not know that it is possible to close an issue with a commit. Then it should be ok.

[2017-11-17 16:45] TyKonKet commented on #38
@Mogli12 I just found out xD

[2017-11-17 16:59] Gonimy-Vetrom commented on #38
Thank you and from me. Everything is working.
Success in working with DLC.

[2017-11-18 23:07] #39 closed

[2017-11-23 07:30] MPosp opened #40 "Dominator for the second time"
Greetings and thanks for the latest edits, the Claas Dominator 118SL now works perfectly. However, as it follows from the screenshot I attach, it does not consume any fuel at all. :-)
![fsscreen_2017_11_22_20_02_36](https://user-images.githubusercontent.com/33684063/33162197-7abe202e-d028-11e7-8190-996b6e69db1b.png)

[2017-11-23 15:05] TyKonKet commented on #40
Sorry my fault.

[2017-11-23 15:05] #40 closed

[2017-12-11 09:40] cater901645 opened #41 "GearboxAddon"
Gibt es Probleme mit Diesem Mod?
Jedesmal wenn ich ein Fahrzeug kaufen möchte ohne Gearbox (off)
bekomme ich einen Fehler.
Error: Running LUA method 'update'.
C:/Users/Cater2/Documents/My Games/FarmingSimulator2017/mods-test/FS17_FuelUsageDisplay/specializations/betterFuelUsage.lua:235: attempt to index field 'mrGbMS' (a nil value)

[2017-12-11 11:37] TyKonKet commented on #41
Can you please provide more information about this problem, most probably this is a bug.

[2017-12-11 13:21] cater901645 commented on #41
what information do you need?

[log.txt](https://github.com/TyKonKet/FS17_FuelUsageDisplay/files/1547893/log.txt)

[2017-12-11 20:57] TyKonKet commented on #41
What version of gearbox are you running?

[2017-12-12 01:00] cater901645 commented on #41
Gearbox v3.0 build 302 by mogli

https://github.com/Mogli12/GearboxAddon

[2018-01-17 14:36] Eloff7 opened #42 "Issue with Fuel Usage display"
Log file reads: "
C:/Users/EloffG/Documents/My Games/FarmingSimulator2017/mods/FS17_FuelUsageDisplay/specializations/betterFuelUsage.lua:235: attempt to index field 'mrGbMS' (a nil value)
Error: Render device Error: Unknown.
Error: Running LUA method
[log.txt](https://github.com/TyKonKet/FS17_FuelUsageDisplay/files/1639332/log.txt)

Please can you check this, I think the problem is with the more r

[2018-01-17 15:50] TyKonKet commented on #42
Are you also using the gearbox addon?

[2018-01-17 16:47] Eloff7 commented on #42
yes
also with some gearbox addon mods

[2018-01-17 16:50] Eloff7 commented on #42
the faulty mods have been removed ie: bbm hook truck, fs17-man tgs but the fault remains

[2018-03-13 19:32] Sythos opened #43 "Game crash with ROPA DLC"
mod enabled, from ingame store try to buy "nawaro maus" (or other ROPA self propelled vehicle), game crash.

mod disabled, i can use all ROPA vehicles without any kind of issue

mod installed: 3.8.0.0 from ModHUB

[2018-04-21 14:11] MOOOOs opened #44 "Gearbox addon"
When i buy tractor without gearbox my keyboard not working anymore and only thing to do is close game with win key and close program. Both mods up to date. please fix this.

[2018-04-21 16:26] fdanapfel commented on #44
Try the latest version of the GearBox Add-on from https://github.com/Mogli12/GearboxAddon

There was recently a fix done in relation to the FS17_FuelUsageDisplay mod:
https://github.com/Mogli12/GearboxAddon/commit/eff1f8d39eb86380db53a527bc0ed801b0171289

[2018-04-22 20:34] MOOOOs commented on #44
its fixed in development version thanks.

[2018-04-23 13:04] #44 closed

[2018-04-23 13:05] TyKonKet commented on #41
#44

[2018-04-23 13:05] TyKonKet commented on #42
#44

[2018-04-23 13:05] #42 closed

[2018-04-23 13:06] #41 closed

[2018-07-19 13:16] TyKonKet commented on #43
In the next version it will be fixed.

[2018-07-19 13:16] #43 closed